{% extends "base.html" %}
 {% block content %}
<html>
  <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    <p>
      <h1>About us</h1>
      The University, established in 1904, is one of the largest higher
      education<br> institutions in the UK. We are renowned globally for the
      quality of our<br> teaching and research.<br><br>
      The strength of our academic expertise combined with the breadth of<br>
      disciplines we cover, provides a wealth of opportunities and has real
      impact<br> on the world in cultural, economic and societal ways.<br><br>
      The University strives to achieve academic excellence within an ethical<br>
      framework informed by our values of integrity, equalityand inclusion,<br>
      community and professionalism.<br><br>
      The university want to ensure students have an easy time whilst studying<br>
      so this is the newly launched mental health app for the students, to
      support<br> the students.<br><br>
      The sole purpose of this app is to help students going through mental<br>
      health issues and giving them a platform to channel their feelings in a
      <br>positive manner.<br>
    </p>
  </body>
  </center>
</html>
{% endblock %}
