<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
  <ul>
    <div class = "size">
      <li><a href="diary">Diary Log</a></li>
      <li><a href="chat">Live Chat</a></li>
      <li><a href="distractions">Distractions</a></li>
      <li style="float:right"><a href="logout">Log Out</a></li>
      <li style="float:right"><a href="about">About</a></li>
    </div>
  </ul>
  <div>
    {% block content %} {% endblock %}
  </div>
</html>
