{% extends "base.html" %}
 {% block content %}
<html>
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    {% for addmood in output %}
    <p>{{ addmood.description }}<br>
    {{ addmood.date }}</p>
  </body>
  <br>
  {% endfor %}
  </center>
</html>
{% endblock %}
