{% extends "base.html" %}
 {% block content %}
<html>
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    <form  method="POST" action="/new">
     Description: {{ form.description }}<br>
     <button type="submit">Sign in</button>
  </body>
  <br>
  </center>
</html>
{% endblock %}
