{% extends "base.html" %}
 {% block content %}
<html>
  <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    <p>
      <h1>Distractions</h1>
        Browse through the links below to access blogs and videos.<br><br>
        <a href="https://themighty.com/">The Might Blog</a><br><br>
        <a href="https://www.mind.org.uk/">The Mind Blog</a><br><br>
        <a href="https://www.rethink.org/">Rethink Blog</a><br><br>
        <a href="https://www.nhs.uk/using-the-nhs/nhs-services/mental-health-services/">The NHS</a><br><br>
        <a href="https://www.youtube.com/channel/UC9A_R3FRyR9zGVZzTt859zw">UK Mental Health Channel</a><br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lJxXxqsv8Zc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
    </p>
  </body>
  <br>
  </center>
</html>
{% endblock %}
