{% extends "base.html" %}
 {% block content %}
<html>
  <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    <p>
      <h1>Welcome to the live chat!</h1>
      Please respect everyones feelings and converse amongst each other.<br>
      No rude behaviour or inapproriate lanaguage will be accepted.<br>
      All chats are moderated.<br>
    </p>
  </body>
  <script id="cid0020000205430142096" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 290px;height: 391px;">{"handle":"muaazkhaaan1","arch":"js","styles":{"a":"CC0000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"CC0000","l":"CC0000","m":"CC0000","n":"FFFFFF","p":"10","q":"CC0000","r":100,"fwtickm":1}}</script>
  <br>
  </center>
</html>
{% endblock %}
