{% extends "base.html" %}
 {% block content %}
<html>
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    <form  method="POST" action="/login">
        <h2>Login failed please try again</h2>
        {{ form.hidden_tag() }}
        Username: {{ form.username }}<br><br>
        Password: {{ form.password }}<br><br>
        Remember Me? {{ form.remember }}<br><br>
        <button type="submit">Sign in</button>
      </form>

  </body>
  <br>
  </center>
</html>
{% endblock %}
