{% extends "base.html" %}
 {% block content %}
<html>
  <center>
  <br><br><br>
  <img src = "/static/images/logo.png">
  <br>
  <body>
    <form  method="POST" action="/login">
        <h2>You have successfully logged out</h2>
  </body>
  <br>
  </center>
</html>
{% endblock %}
