ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.size {
  font-size: 30px;
}

body{
  font-size: 120%;
  width:100%;
}
